:root {
	--primary: #d81b60;
}

* {
	box-sizing: 0;
	margin: 0;
	padding: 0;
}

.active {
	text-decoration: underline;
}
.block {
	display: block;
}

.text-center {
	text-align: center;
}

.center {
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;
}

.p-lg {
	padding: 2rem;
}

.p-md {
	padding: 1rem;
}
